@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var contact in Global.Contacts)
    {
        <li>@contact.FirstName @contact.LastName (Phone #: @contact.PhoneNumber) [@contact.Email]</li>
    }
</ul>
