@page "{num:int}"
@model WebAppExample.Pages.FiboModel
@{
}

<h1>Fibo</h1>

<ul>
@{
    int a = 1, b = 1, num = Model.Number;
    for (int i = 0; i < num; i++)
    {
        <li>@a</li>

        int c = a + b;
        a = b;
        b = c;
    }
}
</ul>