<table style="width:100%">
    <tr>
        <td style="border: 1px solid black;width: 20%">
            @RenderSection("Menu", required: false)
        </td>
        <td style="border: 1px solid black;width: 80%">
            @RenderBody()
        </td>
    </tr>
</table>
