@page "{num1:int}/{op:maxlength(3)}/{num2:int}"
@model WebAppExample.Pages.MathModel
@{
}

@{
    int num1 = Model.Num1;
    int num2 = Model.Num2;
    string s = Model.Op;

    int result = 0;
    char op = '?';

    switch (s)
    {
    case "add": result = num1 + num2; op = '+'; break;
    case "sub": result = num1 - num2; op = '-'; break;
    case "mul": result = num1 * num2; op = '*'; break;
    case "div": result = num1 / num2; op = '/'; break;
    }

    if (op == '?')
    {
        <span>Invalid Operator</span>
    }
    else
    {
        <span>@num1 @op @num2 = @result</span>
    }
}